		h1 {
			font-family: "Open Sans";
			color: #1946ba;
			font-size: 40px;
		}
		h2 {
			font-family: "Open Sans";
			}
		svg {
			position: absolute;
			top: 140px;
			background-color: #F5F5F5;
			left: 30px;
		}
		blockquote {
			font-family: "Open Sans";
			font-weight: normal;
			font-size: 17px;
			position: absolute;
			width: 960px;
		}
		button {
			position: absolute;
			left: 30px; top: 200px;
			text-align:center;
			padding: 10px;
			cursor: pointer;
			background: #ec0b43;
			width: 193px;
			height: 80px;
			border-radius: 10px;
			font-size: 80%; 
			color: #ffffff
		}
		select {
			font-family: "Open Sans";
			position: absolute;
			top: 210px;
			left: 250px;
		}
  
