h1 { 
    position: absolute;
    left: 30px; top: 30px;
    font-size: 200%; 
    font-family: Open Sans; 
    color: #1946ba;
    
   }
   
h2 { 
    position: absolute;
    left: 30px; top: 100px;
    font-size: 120%; 
    font-family: Open Sans; 
    color: #000000;
        
   }
   
 h3 { 
    position: absolute;
    left: 50px; top: 150px;
    width: 560px;
    font-size: 100%; 
    font-family: Open Sans; 
    color: #000000;
      
       }
  
 
button{
    position: absolute;
    left: 30px; top: 200px;
  text-align:center;
  padding: 10px;
  cursor: pointer;
  background: #ec0b43;
  width: 193px;
  height: 80px;
  border-radius: 10px;
  font-size: 80%; 
   font-family: Open Sans; 
   color: #ffffff
  
  
  }

  .line {
    position: absolute;
    left: 20px; top: 50px;
    width: 2px;
    height: 150px;
    background: #808080
  }
  
  